<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>
    <add key="AppId" xdt:Transform="Remove" value="909599415850884"/>
    <add key="AppSecret" xdt:Transform="Remove" value="67fabcd588d30033958113586b5e07c6"/>
    <add xdt:Transform="Insert" key="AppId" value="906314972845995"/>
    <add xdt:Transform="Insert" key="AppSecret" value="5393dac934a38065620aa13fa46c5140"/>
  </appSettings>
  
  <connectionStrings>
    <add name="DefaultConnection" xdt:Transform="Replace" 
         connectionString="Server=daa70838-8783-46e3-ac59-a67c014f8409.sqlserver.sequelizer.com;Database=dbdaa70838878346e3ac59a67c014f8409;User Id=nsfkmtolmuaqjpnt;Password=RbTfyN2NZTeTsgusikV6qjHPp2t8Ddq2HQAUkGUZYFFSQXhxCQEnXJCFAdYFt2iV;"
         providerName="System.Data.SqlClient" />
    <add name="ContactWebContext" xdt:Transform="Replace"
         connectionString="Server=daa70838-8783-46e3-ac59-a67c014f8409.sqlserver.sequelizer.com;Database=dbdaa70838878346e3ac59a67c014f8409;User Id=nsfkmtolmuaqjpnt;Password=RbTfyN2NZTeTsgusikV6qjHPp2t8Ddq2HQAUkGUZYFFSQXhxCQEnXJCFAdYFt2iV;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
