<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="AppId" xdt:Transform="Remove" value="909599415850884"/>
    <add key="AppSecret" xdt:Transform="Remove" value="67fabcd588d30033958113586b5e07c6"/>
    <add xdt:Transform="Insert" key="AppId" value="906314972845995"/>
    <add xdt:Transform="Insert" key="AppSecret" value="5393dac934a38065620aa13fa46c5140"/>
  </appSettings>
  
  <connectionStrings>

    <add name="ContactWebContext " xdt:Transform="Remove" />
    
    <add name="ContactWebContext" xdt:Transform="Insert"
         connectionString="Server=daa70838-8783-46e3-ac59-a67c014f8409.sqlserver.sequelizer.com;Database=dbdaa70838878346e3ac59a67c014f8409;User Id=nsfkmtolmuaqjpnt;Password=RbTfyN2NZTeTsgusikV6qjHPp2t8Ddq2HQAUkGUZYFFSQXhxCQEnXJCFAdYFt2iV;"
         providerName="System.Data.SqlClient" />
    
    <add name="DefaultConnection" xdt:Transform="Replace" 
         connectionString="Server=daa70838-8783-46e3-ac59-a67c014f8409.sqlserver.sequelizer.com;Database=dbdaa70838878346e3ac59a67c014f8409;User Id=nsfkmtolmuaqjpnt;Password=RbTfyN2NZTeTsgusikV6qjHPp2t8Ddq2HQAUkGUZYFFSQXhxCQEnXJCFAdYFt2iV;"
         providerName="System.Data.SqlClient" />
    
    
  </connectionStrings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
